body {
	/*background-color: #eaeaea;*/
    /* background-color: whitesmoke; */
    font-family: sans-serif;
    background-image: url('/images/background.jpg');
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

button {
	width: 120px;
}

/*------------------------------------------------------------*/
/*FORM LOGIN*/
#form-login { 
	margin: 55px auto;
    background-color: white;
    opacity: 0.9;
    /* box-shadow: 2px 2px #888888; */
	padding: 50px 70px; 
    border-radius: 20px;
}

#form-login h5 {
	text-align: center;
	margin-bottom: 40px;
	margin-top: 10px;
    color: black;
    text-decoration: underline;
    font-weight: bold;
}

#form-login button {
    width: 100%;
    border-radius: 25px;
}

#form-login label {
	color: black;
	margin-top: 10px;
}

#form-login input {
    margin-top: 10px;
    border-radius: 25px;
    background-color: #e6e6e6;
    text-align: center;
}

#form-login img {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#form-login .register {
    font-style: italic;
    font-size: 15px;
    text-align: center;
    margin-top: 5px;
}

#form-login .invalid-feedback {
    text-align: center;
}

#form-login .alert {
    text-align: center;
}

.copyright {
	text-align: center;
	margin-top: 30px;
	font-size: 14px;
}

/*------------------------------------------------------------*/
/*FORM REGISTER USER*/
.register { 
	margin-top: -30px;
}